parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
    
    # Mail
    # Destinataire de tous les mails en mode DEV
    mail_dev_delivery_address : webadmin@toto.fr

    # Request Context Globally
    router.request_context.host: example.org
    router.request_context.scheme: http
    router.request_context.base_url:
    
    # Memcache
    session_host: 127.0.0.1  
    session_port: 11211  
    session_prefix: sess_  
    session_lifetime: 86400  

    #oauth
    client_github_id: test
    client_github_secret: test
    client_google_id: test
    client_google_secret: test
    client_facebook_id: test
    client_facebook_secret: test
    client_twitter_id: test
    client_twitter_secret: test


    # Sonata Media options
    sonata_media.cdn.host:   '/TNCY-English//backend/web/uploads/media'