{% extends 'TNCYSchoolBundle::layout.html.twig' %}

{% block title %}{{ "Accueil"| trans}} {{ parent() }}  {% endblock %}
{% block container %}

<main id="fullpage" role="main" class="main">

    <div class="container">
        <div class="jumbotron">
            <h1>Bienvenue sur EnjoyLearning !</h1>
            <p>Je suis le hibou Duo, et je vais t'expliquer rapidement comment apprendre avec EnjoyLearning.</p>
            <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">Démarrer la visite</a>
            </p>
        </div>


    </div> <!-- /container -->   

</main>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	

</script>
{% endblock %}